@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root{
  --index: calc(1vw + 1vh);
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-width: 100vh;
}

.main{
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_1{
  height: 100%;
  width: 100%;
  background-color: #B3EDC8;
  display:flex ;
  flex-direction: row;
}

.item_2{
  height: 100%;
  width: 100%;
  background-color: #FFE48F;
  display:flex ;
  flex-direction: row;
}

.item_3{
  height: 100%;
  width: 100%;
  background-color: #BFF0DE;
  display:flex ;
  flex-direction: row;
}

.main_text{
  margin-top: 20px;
  margin-left: 40px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 900px){
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 220px;
  }
}

@media screen and (max-width: 900px){
  .content_wrapper{
    display: flex;
    flex-direction: column;
    height: 110vh;
    margin-bottom: 20px;
  }
}

h5{
  font-weight: 400;
  color: rgba(0, 11, 38, 0.56);
}

.card_wrapper{
  display: flex;
  flex-direction: row;
}

.item_card_image{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main_card{
  margin-left: 20px;
}

#card_button{
  width: 48px;
  height: 48px;
  padding: 0;
}

.main_card_button{
  width: 48px;
  height: 48px;
  padding: 0;
}

