.card_wrapper{
  width: 384px;
  height: 110px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 16px;
  padding: 16px;
  gap: 0 16px;
}

.content_container{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 5px;
}

.card_photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo{
  width: 112px;
  height: 78px;
}

.card_title{
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.card_description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .card_wrapper {
    width: 100%;
    box-sizing: border-box;
  }
}