.galleryWrapper {
  width: 100%;
}

.buttonWrapper {
  position: absolute;
  top: 42%;
  z-index: 1;
}

.buttonLeft{
  left: 0;
}


@media screen and (max-width: 900px){
  .buttonLeft{
    display: none;
  }
}

.buttonRight{
  right: 0;
}


@media screen and (max-width: 900px){
  .buttonRight{
    display: none;
  }
}