.marketContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filtersContainer {
  border: 1px solid rgba(18, 34, 88, 0.12);
  box-sizing: border-box;
  border-radius: 16px;
  width: 17vw;
  min-width: 253px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 12px;
  position: sticky;
  top: 20vh;
}

.mainContainer {
  max-width: 1200px;
}

.contentAligner {
  display: flex;
  justify-content: center;
}