.marketContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filterHeaderWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterBtnWrapper{
  margin-top: 20px;
}

#filterBtn{
  width: max-content;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  margin-left: 20px;
}

.mainContainer {
  max-width: 1200px;
}

.contentAligner {
  display: flex;
  justify-content: center;
}